.sl-main {
	overflow: hidden;
	width: 650px;
	height: 100px;
	position: relative;
}
.sl-wrapper {
	width: 2000px;
}
.sl-elements {
	width: 200px;
	height: 100px;
	background: blue;
	margin: 0 10px;
	float: left;
	overflow: hidden;
}
.s200 {
	margin-left: -200px;
}