ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sl-main {
	overflow: hidden;
	width: 650px;
	height: 100px;
	position: relative;
}
.sl-wrapper {
	width: 2000px;
}
.sl-elements {
	width: 200px;
	height: 100px;
	background: blue;
	margin-right: 20px;
	border: 1px solid red;
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.active {
	z-index: 2;
}